App {
  color: #EE6352;
}

main {
  display:flex;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

h1 {
  color: #EE6352;
}

.card {
  align-items: stretch;
  margin: 50px 0px 50px 0px;
}