main {
  display:flex;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

h1 {
  color: #EE6352;
}

.card {
  align-items: stretch;
  margin: 3em 0 3em 0;
  padding: 1em;
}